body {
  margin: 0px;
  padding: 0px;
  background-color: #ffff;
  overflow-x: hidden;
  
}

.heading{
      background-color: #17a2b8;
      color: white;
      margin-bottom: 0px;

    }


.mycol{
border: 1px solid black;
border-radius: 5%;
margin-top:1%;
margin-bottom: 0%;
margin-left: 15%;
margin-right:10% ;
width: 300px;
  
}
.mycol1{
border: 1px solid black;
border-radius: 5%;
margin-top:1%;
margin-bottom: 0%;
margin-left: 15%;
margin-right:10% ;
width: 300px;  
}


